.random-planet .planet-image{
	width: 150px;
	height: 150px;
	background-color: white;
	margin: 10px;
	border-radius: 7px;
}

.random-planet {
	margin: 20px;
	
}

.random-planet .term {
	margin-right: 10px;
}


